body{
	background: url(../images/bgLogin.png);
	background-position: center;
	font-family: 'Open Sans', sans-serif;
}
.main{
	margin:7em auto 0;
	width:80%;
	height: 470px;
	background:#fff;
	border-radius: 5px;
	box-shadow: 5px 5px 3px #888888;
}
.header {
	text-align:left;
	padding:1.3em;
}
.header h1 {
	color:#0061a0;
	font-weight:700;
	font-size:25px;
}
.main p{
	text-align: left;
	font-size:14px;
	font-style: italic;
	font-weight:600;
	color:#383737;
	padding: 20px 25px;
	border-bottom: 3px solid #E7E0E0;
	margin-top: -15px;
}
table{
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
}
form{
	padding-left: 2em;
	padding-bottom: 2em;
}
.table-title{
	text-align: left;
	padding-left: 1.3em;
	font-size: 17px;
	font-weight: bold;
	color: #383737;
}
.left-table{
	float: left;
	width: 50%;
}
.right-table{
	padding-left: 15px;
	width: 40%;
	background-color: transparent;
}
.forgetpw{
	text-align: left;
	font-size: 12px;
	font-style: italic;
}
.left-table input[type="text"], .left-table input[type="password"], .right-table input[type="text"], .right-table input[type="password"]{
	padding: 10px;
  	border: solid 1px gainsboro;
  	-webkit-transition: box-shadow 0.3s, border 0.3s;
  	-moz-transition: box-shadow 0.3s, border 0.3s;
  	-o-transition: box-shadow 0.3s, border 0.3s;
  	transition: box-shadow 0.3s, border 0.3s;
  	border-radius: 3px;
  	margin-bottom: 5px;
  	width: 40%;
}
.left-table input[type="submit"], .right-table input[type="submit"]{
	float: left;
	padding:10px 19px;
  	border-radius:0.3em;
 	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
  	-o-border-radius:0.3em;
   	color:#4D4949;
  	background:#F3F3F3;
  	border:1px solid #EBEBEB;
  	font-weight:bold;
  	font-size:15px;
  	outline:none;
  	transition: all 0.5s ease-out;
  	-webkit-transition: all 0.5s ease-out;
  	-moz-transition: all 0.5s ease-out;
  	-ms-transition: all 0.5s ease-out;
  	-o-transition: all 0.5s ease-out;
  	margin-top:15px;
  	cursor: pointer;	
}
input[type=submit]:hover {
 	background:#2E2D2D;
 	color:#fff;
}

/*----*/
/**start-copy-right**/
.copy-right {
	text-align: center;
}
.copy-right p {
	color:#000;
	font-size:1em;
	margin-top:5em;
	font-weight:600;
}
.copy-right p a {
	font-size:1em;
	font-weight:600;
	color:#54b8f2;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#000;
}
/**//end-copy-right**